.cache
.env
./venv
__pycache__/
.ipynb_checkpoints
.DS_Store
*.pyc
*.pyo
*.pyd
node_modules/
.vscode/
.idea/
Audio_Samples/

# Ignore all generated data files and directories
EDA/unified_streaming_features.csv
Ingested_Data/
Extracted_Features/